body{
    font-family: Arial, sans-serif;
    background-image: url(https://img2.rtve.es/n/2189921);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header{
    background-color: #333;
    padding: 10px 0;
    display: flex;
}

h1{
    color: #c9c9c9;
    text-align: center;
    margin-top: 20px;
    width: 50%;
}

.pie{
    color: #666;
    line-height: 1.6;
    margin: 8px;
}

.nav{
    color: #c9c9c9;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
}

.nav:hover{
    background-color: rgba(0, 0, 0, 0.534);
    padding: 11px;
    border-radius: 10px;
}

li{
    display: inline-block;
    padding: 12px 0;
}

nav{
    width: 50%;
    text-align: right;
    padding-right: 70px;
}


footer{
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 35px;
}

.inf-contacto {
    background-color: rgba(0,0,0,0.45);
    color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
}

.tit-contacto {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 15px;
}

.text-contacto{
    text-align: center;
    margin-top: 10px;
}

span{
    color: rgb(49, 49, 255);
}

.datos-contacto{
    width: 280px;
    background-color: rgba(0, 0, 0, 0.534);
    text-align: justify;
    padding: 15px;
    border-radius: 8px;
}

.div-contacto{
    background-color: #333333b4;
    align-content: center;
    justify-items: center;
    width: 400px;
    display: block;
    margin: auto;
    border-radius: 10px;
}

